.numbers {
    @extend .row;
    @extend .align-items-center;

    margin: 0 0 12px 0;
    padding: 0;

    list-style: none;

    .number {
        $number-width: 40px;
        $number-height: $number-width;
        $border-width: 1px;

        overflow: hidden;

        width: $number-width;
        height: $number-height;

        margin: 0 3px 0 0;

        border: $border-width solid #d9deda;
        border-radius: 50%;

        font-weight: bold;
        line-height: $number-height - ($border-width * 2);
        text-align: center;

        &.extra {
            border: $border-width solid #ca7f26;
        }
    }
}