<h1>EuroJackpot Results &amp; Winning Numbers</h1>

<p class="date"><b>{{date.full}}</b></p>

<ul class="numbers">
    {{#each numbers}}
    <li class="number">{{this}}</li>
    {{/each}}
    {{#each euroNumbers}}
    <li class="number extra">{{this}}</li>
    {{/each}}
</ul>

<table class="table table-bordered">
    <thead class="thead-inverse">
        <tr>
            <th>Tier</th>
            <th>Winners</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {{#each odds}}
        <tr>
            <th scope="row">{{tier}}</th>
            <td>{{winners}}x</td>
            <td>{{prize}}</td>
        </tr>
        {{/each}}
    </tbody>
</table> 